#about-section{
    position: relative;
    min-height: 400px;
    background-color: #0a30b9; /* For browsers that do not support gradients */
  background: linear-gradient(to right,#0a30b9, #398df0);
  color: whitesmoke;
}
.about-content{
    float: left;
    width: 50%;
    padding: 80px 0 0 145px;
}
img#about-animate {
    height: 65px;
}
.banner-img {
    width: 50%;
    float: right;
    padding: 50px 135px;
}

.bottom-img {
    position: absolute;
    top: 300px;
}
#banner-img-bottom{
    height: 100px;
    width: 100%;
}
#banner-about{
    height: 210px;
    width: 420px;
}
.animate-img {
    position: absolute;
    top: 316px;
    left: 625px;
    background: #375ed3;
    border-radius: 50%;
}
.about-content h1 {
    font-size: 36px;
    font-weight: 700;
}
button#view-product {
    padding: 5px 30px;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: bold;
    margin-top: 10px;
    border: none;
    background: orange;
    color: white;
    border-radius: 20px;
}