<div id="about-section">
    <div class="about-banner">
        <div class="about-content">
            <h1>Desinined by Indian Engineers</h1>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,  </p>
        <button id="view-product">View Products</button>
        </div>
<div class="banner-img">
        <img id="banner-about"src="assets/images/banner_illustration.png" alt="Smiley face" >
</div>
<div class="bottom-img">
        <img id="banner-img-bottom"src="assets/images/cut.png" alt="Smiley face" >
</div>
<div class="animate-img">
        <img id="about-animate" src="assets/images/Scroll-Icon-Animation.gif" alt="Smiley face" >
</div>
    </div>
</div>