<nav id="toolbar-section">
  <div class="tool-logo">
      <img src="assets/images/Logo_white.png" alt="Smiley face" height="42" width="42">
  </div>
  <div class="tool-link">
    <a class="tool-content" href="/html/">Home</a>
    <a class="tool-content" href="/css/">About</a>
    <a class="tool-content" href="/js/">Features</a>
    <a class="tool-content" href="/jquery/">Products</a>
    <a class="tool-content" href="/jquery/">IT Security</a>
    <a class="tool-content" href="/jquery/">Contact</a>

  </div>
</nav>