<div id="feature-section">
    <div class="feature-head">
        <h3>Key Features</h3>
    </div>
    <div class="feature-box-sec">
        <div class="feature-box">

            <div class="box-header">
                <img src="assets/images/technical security.png" class="non-hov-img" alt="Logo">
                <img src="assets/images/technical security_hover.png" class="hov-img" alt="Logo">
                <h3>Technical Security</h3>
                <p>Lorem ipsum, in graphical and textual context, refers to filler text that is placed in a document or
                    visual presentation.</p>
            </div>

        </div>
        <div class="feature-box">
            <div class="box-header">
                    <img src="assets/images/data security.png"   class="non-hov-img" alt="Logo">
                    <img src="assets/images/data security_hover.png" class="hov-img" alt="Logo">
                <!-- <img src="assets/images/data security.png" alt="Logo"> -->
                <h3>Technical Security</h3>
                <p>Lorem ipsum, in graphical and textual context, refers to filler text that is placed in a document or
                    visual presentation.</p>
            </div>
        </div>
        <div class="feature-box">
            <div class="box-header">
                    <img src="assets/images/identity theft.png" class="non-hov-img" alt="Logo">
                    <img src="assets/images/identity theft_hover.png" class="hov-img" alt="Logo">
                <!-- <img src="assets/images/identity theft.png" alt="Logo"> -->
                <h3>Technical Security</h3>
                <p>Lorem ipsum, in graphical and textual context, refers to filler text that is placed in a document or
                    visual presentation.</p>
            </div>
        </div>


    </div>

</div>